* {
	margin: 0;
	padding: 0;
  background-color: rgb(117, 181, 211);
}

.game {
	margin-top: 20px;
	text-align: center;
}

.game-area {
	display: grid;
	grid-template-columns: repeat(3, 15svw);
	height: 70svh;
	margin-top: 20px;
	gap: 1.5vmin;
	justify-content: center;
	width: fit-content;
	margin-left: 27.5svw;
	border-radius: 20px;
}

.box {
  border: none;
	border-radius: 20px;
	font-size: 300%;
  box-shadow: 0 0 0.5rem black;
  color: rgb(200, 57, 81);
  height: 25svh;

  &:hover {
    background-color: black;
    color: white;
  }
}

#reset {
  padding: 1rem;
  margin-top: 11svh;
  border-radius: 20px;
  border: 2px white solid;
  font-size: medium;
  
  &:hover {
    background-color: black;
    color: white;
  }
}

#winner {
  visibility: hidden;
}
